
<html>

<head>
<link rel="stylesheet" href="css/styles.css">
<title> Monster Battle _ Taeho Lee </title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>

	<img class="background" src="images/battlebackground.png" alt="">


<div class="battlescreen">
	<div class="halfbattlescreen1">
		<div class="left">
			<div class="opponenthealthcontainer">
				<div class="outerrectangle1">
					<div class="recinnerComp">
						<ul class="healthcontent">
							<li class="hpcomponentlist">
								<span class="name">Monster 1
								</span>
								<span class="level">Lv 100</span>
							</li>
							<li class="hpcomponentlist">
								
								<div id = "hpbar1" class="hpbar">
								<div class="hp"> HP </div>
									<div class="hpbarinner">
										<div class="healthslider"></div>
									</div>
								</div>
							</li>
							<li class="hpcomponentlist"><span class="health">163/200</span></li>
						</ul>
					</div>
				</div>

				<div class="shadow"></div>
			</div>
		</div>
		<div class="right">

			<div class="topmonster"></div>
			
		</div>
	</div>
	<div class="halfbattlescreen2">
		<div class="left">
		<div class="bottommonster"></div>

		<div class="mission">
			<div>
				<p>
					Time Elapsed
				</p>
			</div>
			<div class="controls">
				<div id="stopwatch" class="stopwatch">
					<div class="stopwatch-background"></div>
					<img src="images/bezel.svg" class="stopwatch-bezel">
					<img src="images/button.svg" class="stopwatch-button">
					<img src="images/needle.svg" class="stopwatch-needle">
				</div>
				
			</div>
		</div>
		
			
			
		</div>
		<div class="right">
			<div class="myhealthcontainer">
				<div class="outerrectangle2">
					<div class="recinnercomp">
						<ul class="healthcontent">
							<li class="hpcomponentlist">
								<span class="name">Monster 2
								</span>
								<span class="level">Lv 100</span>
							</li>
							<li class="hpcomponentlist">
								
								<div id = "hpbar2" class="hpbar">
								<div class="hp"> HP </div>
									<div class="hpbarinner">
										<div class="healthslider"></div>
									</div>
								</div>
							</li>
							<li class="hpcomponentlist"><span class="health">163/2000</span></li>
						</ul>
					</div>
				</div>

				<div class="smalltriangle">
				</div>
				<div class="smallrectangle">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="bottomsection1">
	<div class="bottombox1">
		<div class="bottomboxinner1">
			<div class="battlefeedback">
				<p>Attack Earthquake was used!!</p>
			</div>



		</div>
	</div>

	<div class="bottomsection2">
		<div class="bottombox2">
			<div class="bottomboxinner2">
	
				<div class="menutext">
					<table style="width: 200%; height: 100%;">
					<tr class="menutop">
						<td class="menulist"> Monster </td>
						<td class="menulist"> Potion </td>
					</tr>
					<tr class="menubottom">
						<td class="menulist"> Battle </td>
						<td class="menulist"> Give Up </td>
					</tr>
					</table>
				</div>
	
			</div>

			<div class="bottomboxinner3">
	
				<div class="menutext">
					<table style="width: 200%; height: 100%;">
					<tr class="menutop">
						<td class="menulist"> Attack 1 </td>
						<td class="menulist"> Attack 2 </td>
					</tr>
					<tr class="menubottom">
						<td class="menulist"> Attack 3 </td>
						<td class="menulist"> Attack 4 </td>
					</tr>
					</table>
				</div>
	
			</div>


		</div>

		
	
</div>


	
</div>





<script src="js/scripts.js"></script>
</body>
