html {
  font-size: 10pt;
}
body {
  padding: 50px;
  margin: auto;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  color: var(--clr-light);
}

pre {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.featured-story {
  display: none;
}

.story-list {
  padding: 0;
  gap: 3%;
  list-style-type: none;
}

.title {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

li {
  margin: 3rem 0;
  padding: 10%;
  margin-bottom: 10%;
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgba(66, 66, 66, 0.2);
}

.story-list article > :first-child {
  margin-top: 0;
}

.story-list article > :last-child {
  margin-bottom: 0;
}

.story-list h1,
.story-list .description,
.story-list figure,
.story-list .content,
.story-list .source {
  margin: 1rem 0;
}

.story-list h1 a {
  color: inherit;
  text-decoration: none;
}

.story-list h1 a:hover {
  color: orange;
}

.date {
  text-align: right;
}

.content {
  font-size: 12px;
  overflow: hidden;
  height: 2.7em;
}

@media (min-width: 720px) {
  .story-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .story-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
